/* Normalize.css - Forms */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}

/* Generator Codepen */
.publish {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  top: 0;
  background: #333;
  z-index: 999;
}
.publish form {
  float: right;
  margin: 0 50px;
}
.publish button,
.publish input {
  padding: 14px;
  height: 100%;
  font-family: 'Open Sans';
  color: #efefef;
  text-transform: uppercase;
  background: #555;
  outline: 0;
  border: 0;
}
.publish button:hover {
  background: #666;
}
.publish input {
  margin-right: -4px;
  background: #333;
}
.publish input:hover {
  background: #3f3f3f;
}
.markup {
  margin: 70px 20px 0;
}
